body {
	margin: 0;
	background-color: #fff;
	font-size: 16px;
	text-align: center;
}

h1 {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 3px;
	border-top: 2px solid #22395E;
	border-bottom: 2px solid #22395E;
}

a {
	color: #000000;
}

a:visited {
	color: #595E3C;
}

a:hover {
	color: #404040;
}

a:active {
	color: #FF0000;
}

#main {
	background-color: #eee;
	text-align: left;
	border: 2px solid #22395E;
	width : 704px;
	line-height: 120%;
	margin: 10px auto;
	padding: 4px;
}

#comment {
	background-color: #eee;
	text-align: left;
	border: 2px solid #22395E;
	width: 704px;
	margin:  20px auto 0 auto;
	padding: 4px;
}

.center {
	text-align: center;
}

td{
	margin: 0;
}

.post {
	color: #f00;
	font-size: 18px;
	text-decoration: none;
}

#bgi {
	margin: 0;
	padding: 0;
	width: 700px;
	text-align: center;
	border-bottom: 2px solid #22395E;
	overflow: hidden;
}

.cover {
	max-width:  700px;
	max-height: 850px;
}
